<!DOCTYPE html>
<html lang=en>

<head>
  <meta charset=utf-8>
  <meta http-equiv=X-UA-Compatible content="IE=edge">
  <meta name=viewport content="width=device-width,initial-scale=1">
  <title>Æternity compiler</title>
  <link rel="stylesheet" href="/assets/css/mini-default-3.0.1.min.css">
  <link rel="icon" type="image/png" href="/assets/img/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/assets/img/favicon-16x16.png" sizes="16x16">

  <style>
    body{
      background-color: #343746;
      color: #edf3f7;
    }

    a:hover {
      color: #fff;
    }

    a,
    a:link,
    a:visited {
      color: #ff0d6a;
    }

    code {
      background-color: #282a36;
      white-space: nowrap;
    }

    pre {
      background-color: #282a36;
      border: .0625rem solid #ddd;
    }

    .card {
      padding: calc(1.5 * var(--universal-padding));
      background-color: #343746;
      color: #edf3f7;
    }
  </style>

</head>

<body>
  <div class="container">
    <h2>Welcome to the hosted <a href="https://github.com/aeternity/aesophia">Sophia compiler</a> for the <a
        class="special" href="https://aeternity.com">Æternity Blockchain</a></h2>
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-5">
        <p>
          The hosted compiler allow you to use different version of the Sophia compiler using the <a
            href="https://github.com/aeternity/aesophia_http">http interface</a>.
        </p>
        <p>
          The available compiler versions are listed below, to understand the difference between versions refer to
          the official <a href="https://github.com/aeternity/aesophia/blob/master/CHANGELOG.md#changelog">changelog</a>.
        </p>

        <ul>
          {{range .Compilers}}
          <li><a
              href="https://github.com/aeternity/aesophia/releases/tag/v{{ .Version }}"><code>{{ .Version }}</code></a>{{if .IsDefault}}(default){{end}}
          </li>
          {{else}}<p>no compilers avaliable</p>
          {{end}}
        </ul>

        <p>
          To select a specific compiler use the header name <code>{{.Header}}</code> with the value the versions above,
          if no header is present the default compiler will be used.
        </p>
        <p>
          Here is the curl example to select the compiler version <code>3.1.0</code>:
        </p>
        <pre>curl -i \
-H "{{.Header}}: 3.1.0" \
-H "Content-Type: application/json" \
https://compiler.aepps.com/version

HTTP/1.1 200 OK
Content-Length: 19
Content-Type: application/json
Server: Cowboy

{"version":"3.1.0"}</pre>
        <p>
          To explore the smart contract capabilities you can use the <a href="https://contracts.aepps.com">contract
            editor</a>
          and the middleware to track the contract transactions and events (both on <a
            href="https://mainnet.mdw.aepps.com/contracts">mainnet</a> and <a
            href="https://testnet.mdw.aepps.com/contracts">testnet</a>).
          <p>
            <p>
              For additional resources and support join the <a href="https://forum.aeternity.com/">forum</a>
              and follow the <a href="https://twitter.com/aeternityTECH">aeternityTECH</a> twitter account.
            </p>

      </div>

    </div>
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-5">
        <p>
          To retrieve the list of available compilers in <code>json</code> format use the <code>Accept: application/json</code> header.
        </p>
<pre>curl -i \
-H "Accept: application/json" \
https://compiler.aepps.com

HTTP/1.1 200 OK
Content-Type: application/json; charset=utf-8
Content-Length: 255

{
  "Version":"1.0.0",
  "Header":"Sophia-Compiler-Version",
  "Compilers":
  [
    {
      "version": "3.2.0",
      "is_default": false
    }, 
    {
      "version": "3.1.0",
      "is_default": true
    },
    ...
  ]
}
</pre>

        
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-5">
          <p class="card fluid">
            ⚠️ The hosted compilers are provided for demo/development/testing 
            purpose and should not be used in a production environment. Make sure 
            to run your own compiler if necessary on production.
          </p>
      </div>
    </div>

    

  </div>
  <!--
	<footer class="sticky">
    <p>v{{.Version}}</p>
	</footer>
	-->
</body>

</html>