<!DOCTYPE html>
<html lang=en>

<head>
  <meta charset=utf-8>
  <meta http-equiv=X-UA-Compatible content="IE=edge">
  <meta name=viewport content="width=device-width,initial-scale=1">
  <title>Æternity compiler</title>
  <link rel="stylesheet" href="/assets/css/mini-default-3.0.1.min.css">
  <link rel="icon" type="image/png" href="/assets/img/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/assets/img/favicon-16x16.png" sizes="16x16">

  <style>
    body, footer{
      background-color: #343746;
      color: #edf3f7;
    }

    a:hover {
      color: #fff;
    }

    a,
    a:link,
    a:visited {
      color: #ff0d6a !important;
    }

    code {
      background-color: #282a36;
      white-space: nowrap;
    }

    pre {
      background-color: #282a36;
      border: .0625rem solid #ddd;
    }

    .card {
      padding: calc(1.5 * var(--universal-padding));
      background-color: #343746;
      color: #edf3f7;
    }
  </style>

</head>

<body>
  <div class="container">
    <h2>Terms of service for the hosted compiler for <a class="special" href="https://aeternity.com">Æternity Blockchain</a></h2>
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-5">
        <p>
          Sophia compiler is part of the Software Development Kit (SDK) and used
          to create applications by developers from source code files. For this
          purpose, by using the services provided by Æternity, Developers agree
          that the company may store and publish the source code of every
          compilation including but not limited to successfully passed ones under
          the ISC license on a royalty-free basis with the purpose of
          incorporation of the source code in a contracts library in its own
          estimation. <br><br>
          The authorization shall be considered as a perpetual royalty
          free software license granted to Æternity, which includes reproduction,
          modifications, improvements, independent use, distribution of the source
          codes among unlimited number of persons and any other economic
          copyrights, which do not limit in any way the moral rights of developers
          over the source codes.<br><br>
          The license shall be granted for indefinite period of time unless a
          limitation of the time period is provided otherwise by applicable
          legislation.<br><br>
          Under ISC open-source license, Æternity has the right to use, copy,
          modify and distribute the source codes for any purpose with or without
          fee. The license only requires preservation of copyright and license
          notices. The purpose of the contract library is to provide a secure
          smart contract development. <br><br>
          Æternity is not liable in any way for the
          diffusion and public access to the contracts library and the
          corresponding source code files amended and modified by developers due
          to the open-source character of the software.
        </p>
      </div>
    </div>
  </div>
  <footer>
    <a href="/">Home</a>
  </footer>
  <!--
	-->
</body>

</html>